[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pylint = "*"
mirage-django-lts = "*"
pytest = "*"
pytest-django = "*"
flake8 = "*"
autopep8 = "*"
django-debug-toolbar = "*"
pylint-django = "*"

[packages]
django = "*"
djangorestframework = "*"
django-cors-headers = "*"
dj-database-url = "*"
psycopg2-binary = "*"
gunicorn = "*"
whitenoise = "*"
django-filter = "*"
channels = "*"
django-markdownx = "*"
markdown = "*"
django-initial-setup = "*"
ldap3 = "*"
django-auth-ldap = "*"

[requires]
python_version = "3.8"
