<nav class="nx-navbar">
  <ul class="nx-nav">
      <li class="nx-nav-item active">
          <a href="/uploads/"><i class="fas fa-list-ul"></i></a>
      </li>
      <li class="nx-nav-item">
          <a href="/uploads/"><i class="fas fa-file-upload"></i></a>
      </li>
      <li class="nx-nav-item">
          <a href="/blog/"><i class="fas fa-blog"></i></a>
      </li>
  </ul>

  <div class="nx-nav-user">
      <a href="/profile/">
      <img class="nx-nav-avator" src="https://avatars3.githubusercontent.com/u/3389538?s=460&v=4"/></a>
  </div>
</nav>
