<nav class="nx-navbar">
  <a class="nx-nav-brand" href="/">{{ APP_NAME }}</a>

  <li class="nx-nav-item nx-active">
    <a href="/uploads/"><i class="fas fa-list-ul"></i></a>
  </li>
  <li class="nx-nav-item">
    <a href="/uploads/"><i class="fas fa-file-upload"></i></a>
  </li>
  <li class="nx-nav-item">
    <a href="/blog/"><i class="fas fa-blog"></i></a>
  </li>

  <div class="nx-nav-user">
      <a href="/account/">
      <img class="nx-nav-avator" src="https://avatars3.githubusercontent.com/u/3389538?s=460&v=4"/></a>
  </div>
</nav>
