{% extends "base.html" %}
{% block content %}


<div class="row">
  <div class="col-md-3">
      <img id="pg-profile-avator" src="https://avatars3.githubusercontent.com/u/3389538?s=460&v=4"/>
  </div>
  <div class="col-md-9">
      <h1 id="login_name">shotan</h1>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="nx-card">
          <h1 class="nx-card-heading1">Basic Profile</h1>

          <div class="nx-table-cell">
              <h4>Student ID</h4> <h5>71644408</h5>
          </div>

          <div class="nx-table-cell">
              <p>If this information is wrong, please contact to #coordinator on Slack.</p>
          </div>

          <div class="nx-table-cell">
              <h4>Permissions</h4> <h5>Faculty, Coordinator,  KGL of NECO,  rg-root Administrator</h5>
          </div>


          <div class="nx-card-separator"></div>

          <h1 class="nx-card-heading1">KG Settings</h1>

          <div class="nx-table-cell">
              <h2>NECO</h2> <button type="button" class="btn btn-danger">Add KG</button>

          </div>

          <div class="nx-card-separator"></div>

          <h1 class="nx-card-heading1">Portal Settings</h1>
          <div class="nx-table-cell">
              <h2>Theme</h2> <button type="button" class="btn btn-danger">Add KG</button>

          </div>

        </div>
    </div>

</div>


<div class="nx-card-spacer"></div>
{% endblock %}
