{% extends "base.html" %}
{% block content %}

<div class="row">
  <div class="col-md-12">
    <div class="alert alert-danger" role="alert">
      Under development
    </div>
  </div>


</div>
<div class="row">
  <div class="col-md-3">
      <img id="pg-profile-avator" src="https://avatars3.githubusercontent.com/u/3389538?s=460&v=4"/>
  </div>
  <div class="col-md-9">
      <h1 id="login_name">shotan</h1>
  </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="nx-card">
          <h1>Settings</h1>

          <h2>KG</h2>

          <div class="nx-card-separator"></div>
        </div>
    </div>

</div>

{% endblock %}
