{% extends "base.html" %}
{% block content %}


<div class="nx-spacer-3"></div>

<div class="row justify-content-center">
  <div id="droparea" class="nx-file-drop">
    <h1><i class="far fa-file"></i> Drag & drop file here</h1>
  </div>
</div>

<div class="nx-spacer-4"></div>

<div class="row justify-content-center">
    <a class="nx-button-create" href="/upload/create/">Upload</a>
</div>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    var droparea = document.getElementById('droparea');

    droparea.addEventListener('dragover', function(event) {
      event.preventDefault();
      event.dataTransfer.dropEffect = 'copy';
      droparea.classList.add('nx-file-dragover');
      console.log("DRAG OVER");
    });

    droparea.addEventListener('dragleave', function(event) {
      droparea.classList.remove('nx-file-dragover');
    });

    droparea.addEventListener('drop', function(event) {
      event.preventDefault();

      var files = event.dataTransfer.files;
      droparea.classList.remove('nx-file-dragover');
    });
  });
  
</script>
{% endblock %}
