.nx-button-create {
    display: inline-block;
    color: #333;
    font-weight: bold;
    font-size: 1.7rem;
    text-decoration: none;
    text-align: center;
    background: white;
    @include inline-size(160px, 63px);
    border-radius: 40px;
    @include shadow();

    &:hover {
        text-decoration: none;
    }
}


.nx-button-save {
    display: inline-block;
    color: white;
    font-weight: bold;
    font-size: 1.7rem;
    text-decoration: none;
    text-align: center;
    background: red;
    @include inline-size(115px, 45px);
    border-radius: 40px;

    &:hover {
        text-decoration: none;
    }
}





@media screen and (max-width: 480px) {
    .nx-button-create {
        @include inline-size(140px, 63px);
    }
}
