.nx-file-drop {
    background: rgb(245, 245, 245);
    width: 75%;
    height: 250px;
    border-radius: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all .3s　ease;
    h1 {
        color: rgb(92, 92, 92);
    }
}

.nx-file-dragover {
    background: rgb(163, 206, 255);
}


@media (prefers-color-scheme: dark) {
    .nx-file-drop {
        background: rgb(39, 39, 39);
        border-color: rgb(61, 61, 61);
        h2 {
            color: #ffffff;
        }
    }
    
    .nx-file-dragover {
        background: rgb(54, 54, 54);
        border-color: rgb(63, 92, 255);
    }
    
}


@media screen and (max-width: 480px) {
    .nx-file-drop {
        width: 90%;
        height: 400px;
    
        h1 {
            font-size: 1.8rem;
        }
    }
}
