$nx-nav-height: 60px;

.nx-navbar {
    border: none;
    border-radius: 30px;
    margin-top: 25px;
    margin-left: 27px;
    background: white;
    @include size(360px, $nx-nav-height);
    @include shadow();
    padding-left: 25px;
    padding-right: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nx-nav-brand {
    text-decoration: none;
    color: blue;
    font-weight: bold;
    font-size: 1.3rem;

    &:hover {
        text-decoration: none;
    }
}

.nx-nav, .nx-nav-item {
    list-style: none;
    display: inline;
    height: $nx-nav-height;
}

.nx-active {
    a {
        color: rgb(207, 22, 22) !important;
    }
}

.nx-nav-item {
    line-height: $nx-nav-height;
    font-size: 1.4rem;
    margin-left: 10px;
    margin-right: 10px;

    a {
        color: rgb(121, 121, 121);
    }
}

.nx-nav-user {
}

.nx-nav-avator {
    width: $nx-nav-height - 22px;
    height: $nx-nav-height - 22px;
    border-radius: 50%;
}

@media (prefers-color-scheme: dark) {
    .nx-navbar {
        background: rgb(29, 29, 29);
    }

    .nx-nav-brand {
        color: rgb(167, 167, 255);
    }
}


@media screen and (max-width: 480px) {
    .nx-navbar {
        position: fixed;
        bottom: 15px;
        z-index: 1000;
        width: 80%;
        margin-right: 10%;
        margin-left: 10%;
    }

    .nx-nav-brand {
        display: none;
    }
}




.nx-footer-navigation {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    width: 100%;
    padding-left: 40px;
    padding-right: 40px;

    background: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 60px;
    line-height: 60px;
    @include shadow();

}
