$nx-nav-height: 60px;

.nx-navbar {
    border: none;
    border-radius: 30px;
    margin-top: 25px;
    margin-left: 27px;
    background: white;
    height: $nx-nav-height;
    width: 360px;
    filter: drop-shadow(1px 2px 5px rgba(61, 61, 61, 0.233));
    padding-left: 25px;
    padding-right: 14px;

    display: flex;
    justify-content: space-between;
    align-items: center;
}

.nx-nav, .nx-nav-item {
    list-style: none;
    display: inline;
    height: $nx-nav-height;
}

.active {
    a {
        color: rgb(44, 85, 196) !important;
    }
}


.nx-nav-item {
    line-height: $nx-nav-height;
    font-size: 2rem;
    margin-left: 10px;
    margin-right: 10px;

    a {
        color: rgb(51, 51, 51) !important;
    }
}

.nx-nav-user {
}

.nx-nav-avator {
    width: $nx-nav-height - 22px;
    height: $nx-nav-height - 22px;
    border-radius: 50%;
}
