@media (prefers-color-scheme: dark) {
    :root {
        --theme-base: black;
        --theme-font: white;
    }
}

@media (prefers-color-scheme: light) {
    :root {
        --theme-base: white;
        --theme-font: #333;
    }
}
