//import boostrap's scss
@import "~bootstrap/scss/bootstrap.scss";

// Mixins
@import "mixins";

@import "theme";

// Components
@import "navbar";
@import "card";
@import "input";
@import "buttons";
@import "typography";
@import "markdown";
@import "utils";
@import "filedrop";


// Pages
@import "pages/profile";
@import "pages/blog";



body {
    background: var(--theme-base);
    color: var(--theme-font);
}


.nx-disable-link-highlight {
    text-decoration: none;
    color: var(--theme-font);

    &:hover {
        text-decoration: none;
        color: var(--theme-font);
    }
}
