{% extends "base.html" %}
{% block content %}

<script src="https://cdn.jsdelivr.net/simplemde/latest/simplemde.min.js"></script>

<style>
  @media screen and (max-width: 480px) {
    .nx-navbar {
      display: none;
    }
  }
</style>


<form method="post" action="/blog/create/">{% csrf_token %}
<div class="row">
    <div class="col-md-12">
        <div class="input-group mb-3">
            <div class="input-group-prepend">
              <span class="input-group-text" id="inputGroup-sizing-default">Title</span>
            </div>
            <input type="text" name="title" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
          </div>
    </div>
</div>

<div class="row">
  <div class="col-md-12">
      <textarea name="body" class="form-control" id="exampleTextarea" rows="50"></textarea>
  </div>
</div>

<div class="nx-footer-navigation">
    <p class="nx-blog-bottom-description">If you once return, current data will be cleared.</p>
    <button class="nx-button-save" type="submit">Post</button>
</div>

</form>

<script>
    var simplemde = new SimpleMDE();
</script>
{% endblock %}
