{% extends "base.html" %}
{% block content %}

<div class="nx-table-cell">
  <h1 class="nx-page-heading">Blog</h1>
  <a class="nx-button-create" href="/blog/create/"><i class="fas fa-plus"></i> Create</a>
</div>


<div class="nx-spacer-3"></div>


{% for post in data %}
  <div class="row">
    <div class="col-md-12">
        <a class="nx-disable-link-highlight" href="/blog?post_id={{ post.published_id }}">
        <div class="nx-card nx-card-markdown">
          <h1>{{ post.title }}</h1>
          {{ post.blog_contents | truncatechars:120 | striptags | safe }}
        </div>
        </a>
    </div>
  </div>
{% endfor %}
{% endblock %}
